/* Add here all your css styles (customizations) */

/*AUX*/

#logo {
    float: left;
}

.wrapper .header .topbar .open > .dropdown-menu{
    display: block;
}

.header .topbar .dropdown > a:after {
    display: none;
}

.header .topbar #languages i.fa {
    color: #bbb;
}

.header .topbar  a, .header .topbar a:hover {
    color: #7c8082;
    font-size: 11px;
    text-transform: uppercase;
}

.blog-topbar form.simplesearchform {
    margin-bottom: 0px;
}

.topbar-list a {
    color: #eee;
    font-size: 10px;
    padding: 7px 12px;
    position: relative;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
}

.topbar-menu div.clear {
    display: block;
    padding: 0;
}

.wrapper .blog-topbar .search-btn {
    padding-left: 10px;
}

.dropdown-backdrop {
    z-index: 1 !important;
}

.search-block div.input-group {
    width: 100%;
    padding-right: 66px;
}

.search-block span.input-group-btn {
    display: block;
}

.search-block .btn-u-lg, a.btn-u-lg {
    padding: 15px 25px;
}

.wrapper .search-block {
    background: url(../img/bg.jpg) 50% 0 repeat fixed;
}

.s-results .results-number {
    margin-left: 40px;
}

.s-results ol li {
    list-style-type: none;
}

/*VCARD ICON*/

.fa-vcard:before {
    content:'\F007';
}

.fa-vcard:after {
    content:'\f0c9';
    padding-right:0.2em;
    padding-left:0.1em;
}

.fa-vcard-bordered {
    padding: 0.3em 0.2em;
    display:inline-block;
    border:2px solid black;
    border-radius: 5px;
}

/*LEADERSHIP*/

.team-social li a.ln {
  color: #0083a8;
  border: 1px solid #0083a8;
}

.team-social li a:hover {
  text-decoration: none;
}

.team-social li a.ln:hover {
  color: #fff;
  background: #0083a8;
}

#leadership{
	margin: 50px auto;
}

#leadership .title{
	color: #555;
	position: relative;
	margin-bottom: 30px;
	margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 33px;
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

#leadership .title:before{
    box-sizing: border-box;
}

#leadership .title:after{
	left: 0;
	width: 70px;
	height: 2px;
	content: " ";
	bottom: -10px;
	background: #555;
	position: absolute;
}

#leadership .subtitle{
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 30px;
}

#leadership p{
	margin: 20px 0;
}

#leadership .portrait{
	width: 210px;
	height: 210px;
	background: #e6e6e6;
	border-radius: 105px;
	margin-top: 30px;
}

#leadership .portrait img{
	border-radius: 105px;
	width: 210px;
	height: 210px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: 2px solid #eee;
}

/*404*/

#search-error{
	width: 100%;
	padding: 0;
	margin-bottom: 50px;
}

#search-error .search-block{
	padding: 25px 40px 19px 40px;
	margin: 0 auto;
	background: #c1cbd1;
	overflow: hidden;
	width: 100%;
	max-width: 800px;
}

#space{
	margin-top: 80px;
	text-align: center;
}

#error-bg{
	position: relative;
	margin: 100px auto 0 auto;
	display: block;
	width: 850px;
	height: 250px;
	background: transparent;
	overflow: hidden;
}

#error-text-mobile{
	display: none;
	margin: 0 auto;
}

#error-text-mobile div{
	display: none;
	color: black;
	font-size: 30px;
	text-align: center;
	display: inline-block!important;
}

#error-bg .background{
	opacity: 0.2;
	position: absolute;
	background: url('/resources/img/404/background.png') no-repeat left top;
	height: 850px;
	width: 850px;
	-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 300s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 300s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 300s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

#error-bg .middleground{

	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 150s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spinnerRotate;
	-moz-animation-duration: 150s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spinnerRotate;
	-ms-animation-duration: 150s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	position: absolute;
	background: url('../img/404/middle.png') no-repeat left top;
	height: 850px;
	width: 850px;
}

.description{
	color: white;
	font-size: 30px;
	font-weight: 300;
	text-align: left;
	line-height: 10px;
	margin-bottom: -15px;

}

#error-bg .title{
	font-size: 40px;
	z-index: 500;
	text-align: right;
	display: inline-block;
	font-weight: 300;
}

#error-bg .subtitle{
	font-size: 55px;
	color: white;
	z-index: 900;
	text-shadow: 1px 1px 5px rgba(0,0,0, 0.1);
	text-align: right;
	display: inline-block;
	margin-left: 10px;
}

#error-bg .error-box{
	position: absolute;
	z-index: 5;
	right: 295px;
	top: 160px;
	
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}


/*ADVANCED SEARCH*/

#advancedSearch .btn-primary{
	background: #E74C3C!important;
	border: none;
	margin-top: 10px;
	margin-left: 22px;
	margin-bottom: 50px;
}


#advancedSearch fieldset{
	display: inline-block!important;
	width: calc(50% - 22px);
	vertical-align: text-top;
	margin: auto 10px;
}

#advancedSearch .control-group{
	background: #fff;
	display: block;
	padding: 25px 30px 5px;
	border: none;
	min-width: 0;
	margin: 0;
	border-radius: 0;
	box-sizing: border-box;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666;
}

#advancedSearch legend{
	color: inherit;
	display: block;
	font-size: 20px;
	background: #fff;
	font-weight: 400;
	padding: 8px 30px;
}

#advancedSearch select{
	background: url('../img/arrow.png') no-repeat;
	background-position: right 10px top 10px;
	border-color: #bbb;
	height: 33px;
	padding: 6px 30px 6px 10px;
	border-width: 1px;
	font-size: 14px;
	color: #404040;
	display: block;
	box-sizing: border-box;
    outline: none;
    border-style: solid;
    border-radius: 0;
    font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	text-transform: none;
    margin: 0;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
	overflow-x: visible;
	overflow-y: visible;
	white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    text-rendering: auto;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
	box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb;
	letter-spacing: normal;
    word-spacing: normal;
    line-height: 19px;
    width: 100%;
}

#advancedSearch .dateRange{
	border-top: 1px dashed #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px 0 15px 0;
	margin: 15px 0 15px 0;
}

#advancedSearch input[type="text"]{
	border-color: #bbb;
	border-width: 1px;
	font-size: 14px;
	color: #404040;
	height: 34px;
	padding: 6px 12px;
	-webkit-transition: border-color 0.3s;
	display: block;
	box-sizing: border-box;    
	width: 100%;
	outline: none;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	margin: 0;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;
}

#advancedSearch input[type="checkbox"]{
	vertical-align: middle;
	position: relative;
	border-color: #999;
	width: 17px;
	height: 17px;
	border-width: 1px;
	-webkit-transition: border-color 0.3s;
	border-style: solid;
	background: #fff;
	outline: none;
	border-radius: 0;    box-sizing: border-box;
	font-weight: 400;
	font-size: 15px;
	line-height: 27px;
	color: #404040;
	cursor: pointer;
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	display: inline-block;
}

#advancedSearch label{
	border-radius: 0;
    font-size: 100%;
    text-align: left;
    white-space: normal;
    color: inherit;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
	padding: 0.2em 0 0.3em;
	max-width: 90%;
	box-sizing: border-box;
	cursor: default;
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	box-sizing: border-box;display: inline-block;
	margin-right: 10px;
}

input#scr_terms{
	background: red!important;
}

#search-options{
	display: table;
	background: rgba(0, 0, 0, .5);
	padding: 10px 30px;
	margin: 50px auto 0 auto;
	border-radius: 50px;
	color: white;
	text-decoration: none;
}

#search-options:hover{
	background: rgba(0, 0, 0, 1);
}

#advanced-search select{
    line-height: 17px!important;
}

#form-footer{
    padding: 30px;
}

#custom-search-block{
    margin-bottom: 50px;
}


#advanced-search{
    margin: 20px auto;
    border: none!important;
}


#advancedSearch .sky-form{
    border: none;
}

#advancedSearch .sky-form footer{
    border: none;
}

#search-options{
    display: table;
    background: rgba(0, 0, 0, .5);
    padding: 10px 30px;
    margin: 50px auto 0 auto;
    border-radius: 50px;
    color: white;
    text-decoration: none;
}

#search-options:hover{
    background: rgba(0, 0, 0, 1);
}

.search-block{
    padding: 80px 0 40px 0;
    margin: 0;
}

.arrow{
    position: relative;
    display: inline-block;
    margin-left: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: white transparent transparent transparent;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.arrow-rotate{
    transform: rotate(180deg);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#advancedSearch .sky-form .select select {
    padding: 3px 10px;
}

.container .navbar-brand {
    padding: 30px 0 0 0;
}

/*STOCK WIDGET*/

/*standard*/

#stock-widget{
    width: 100%;
    height: auto;
    position: relative;
    background: white;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: url('../img/stock_arrow.png') no-repeat;
    background-position:  right 30px bottom 0px ;
}

#stock-widget .arrow{
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #6fc117 transparent;
    display: inline-block;
}

.stock-widget-wrapper{
    padding: 30px;
}

#stock-widget .title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: #E74C3C;
}

#stock-widget .description{
    text-align: center;
    font-size: 12px;
}

#stock-widget .stock-price{
    font-size: 40px;
    text-align: right;
    width: 70%;
    margin: 0 auto;
    max-width: 360px;
}

#stock-widget .stock-variable{
    text-align: right;
    font-size: 30px;
    width: 70%;
    margin: 0 auto 30px auto;
    max-width: 360px;
}

#stock-widget .btn{
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 70%;
	max-width: 360px;
	text-align: right;	
	text-decoration: underline;
}

/*small*/

.small-stock-widget{
    width: 100%;
    height: auto;
    position: relative;
    background: white;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: url('../img/stock_arrow.png') no-repeat;
    background-position:  right 30px bottom 0px ;
}

.small-stock-widget .arrow{
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 8px 5.5px;
    border-color: transparent transparent #6fc117 transparent;
    display: inline-block;
}

.small-stock-widget .arrow-down{
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5.5px 0 5.5px;
    border-color: #e74c3c transparent transparent transparent;
    display: inline-block;
}

.small-stock-widget .stock-widget-wrapper{
    padding: 20px;
}

.small-stock-widget .title{
    color: red;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #E74C3C;
}

.small-stock-widget .description{
    text-align: center;
    font-size: 12px;
    margin: 5px auto;
    line-height: 13px;
}

.small-stock-widget .stock-price{
    font-size: 20px;
    text-align: center;
    width: 70%;
    margin: 5px auto;
    max-width: 360px;
}

.small-stock-widget .stock-variable{
    text-align: center;
    font-size: 16px;
    width: 70%;
    margin: 0 auto 10px auto;
    max-width: 360px;
}

#small-stock-widget .btn{
	display: block;
	margin: 0 auto;
	text-decoration: underline;
}

/*NEWS*/

.news-v2 .news-v2-badge{
    min-height: 170px;
}




/*MEDIA QUERIES*/

@media (max-width: 1200px) {

/*	small stock widget*/
	
	#small-stock-widget .stock-widget-wrapper{
		padding: 5px;
	}
}

@media (max-width: 992px) {
	/*LEADERSHIP*/
	
	#leadership{
		margin: 80px auto 100px auto;
	}

	.portrait{
		margin: 0 auto 50px auto;
	}

	#leadership .title{
		text-align: center;
	}
	
	#leadership .subtitle{
		text-align: center;
	}
	
	#leadership p{
		text-align: center;
	}
	
	#leadership .team-social{
		margin: 0 auto;
		display: table;
	}

	#leadership .title:after{
		margin: 0 auto;
		left: 0;
		width: 70px;
		height: 2px;
		content: " ";
		bottom: -10px;
		left: 0;
		right: 0;
		background: #555;
		position: absolute;
	}
	
	/*404*/
	
	#error-text-mobile{
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 10px;
	}
	
	#search-error .search-block{
		padding: 0;
		margin: 0 auto!important;
		border: 1px solid #dedede;
		overflow: hidden;
		height: 50px;
	}
	
	#error-bg{
		display: none;
	}
	
	#error-bg .error-box{
		display: block;
		color: #E74C3C;
	}
	
	#space{
		margin-top: 20px;
		text-align: center;
	}
	
/*	STOCK WIDGET*/

	#stock-widget{
		margin: 20px auto;
	}
	
	#stock-widget .stock-price{
		width: 60%;
		max-width: 350px;
	}
	
	#stock-widget .stock-variable{
		width: 60%;
		max-width: 350px;
	}
	
	#stock-widget .btn {
		width: 60%;
	}
	
}


@media (max-width: 768px) {

/*AUX*/

	.topbar-menu div {
	        display: block;
	        padding: 7px 0;
	}

    .topbar-list a {
        padding: 2px 12px;
    }

/*	STOCK WIDGET*/
    
	#stock-widget{
		width: 90%;
	}
	
	#stock-widget .title{
		text-align: right;
		width: 60%;
		max-width: 350px;
		margin: 0px auto;
	}
	
	#stock-widget .description{
		text-align: right;
		font-size: 12px;
		width: 60%;
		margin: 15px auto 0 auto;
		max-width: 350px;
	}
	
	
/*	ADVANCED SEARCH*/

	#advancedSearch fieldset{
		display: inline-block!important;
		width: calc( 100% - 20px);
		vertical-align: text-top;
		margin: auto 10px;
	}
}