/* Add here all your css styles (customizations) */

/*AUX*/

#logo {
    float: left;
}

.wrapper .header .topbar .open > .dropdown-menu{
    display: block;
}

.header .topbar .dropdown > a:after {
    display: none;
}

.header .topbar #languages i.fa {
    color: #bbb;
}

.header .topbar  a, .header .topbar a:hover {
    color: #7c8082;
    font-size: 11px;
    text-transform: uppercase;
}

.blog-topbar form.simplesearchform {
    margin-bottom: 0px;
}

.topbar-list a {
    color: #eee;
    font-size: 10px;
    padding: 7px 12px;
    position: relative;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
}

.topbar-menu div.clear {
    display: block;
    padding: 0;
}

.wrapper .blog-topbar .search-btn {
    padding-left: 10px;
}

.dropdown-backdrop {
    z-index: 1 !important;
}

.search-block div.input-group {
    width: 100%;
    padding-right: 66px;
}

.search-block span.input-group-btn {
    display: block;
}

.search-block .btn-u-lg, a.btn-u-lg {
    padding: 15px 25px;
}

.wrapper .search-block {
    background: url(../img/bg.jpg) 50% 0 repeat fixed;
}

.s-results .results-number {
    margin-left: 40px;
}

.s-results ol li {
    list-style-type: none;
}

/*VCARD ICON*/

.fa-vcard:before {
    content:'\F007';
	font-size:0.7em;
}

.fa-vcard:after {
    content:'\f0c9';
	font-size:0.7em;
    padding-right:0.2em;
    padding-left:0.1em;
}

.fa-vcard-bordered {
    padding: 0.3em 0.2em;
    display:inline-block;
    border:2px solid black;
    border-radius: 5px;
}

/* VIDEO */
video, .video-js{
	width: 100%    !important;
	height: auto   !important;
	position: relative !important;
}

/*eventdate ICON*/

.eventsDateBadge {
	width: 50px;
    height: 54px;
    background: #fcfcfc;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 4px;
}

.eventsDateBadge p {
	font-size: 18px; text-align: center!important;
	line-height: 1!important;
}

.eventsDateBadge p span {
	background: #E74C3C!important;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase!important;
    display: block!important;
    border-radius: 3px;
    padding: 6px 0 6px 0!important;
}


/*eventdate Layout*/

.eventsInfoDate {
	display: inline-block;
	width: 10%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	vertical-align:top;
}

.eventsBody {
	display: inline-block;
	width: 89%;
	position: relative;
	min-height: 1px;
}

.fc-today {
	color:#fff;
	font-weight: bold;
}
.fc-state-highlight {
    background: #E74C3C !important;
}

.calendar .fc-first.fc-last {
	background: #CCCCCC;
}

.wrapper .fc-event-skin {
	background-color: #FFF;
	border-color:#E74C3C;
	color: #E74C3C;
	font-weight: bold;
	text-align: center;
}

.fc-corner-left .fc-button-inner, .fc-corner-left .fc-event-inner {
	margin-left: 0px!important;
}

.fc-corner-right .fc-button-inner, .fc-corner-right .fc-event-inner {
	margin-right: 0px!important;
}

.fc-header-title h2{
	font-size: 115%;
}

/*Facets Active List Formatting*/

/*div style*/

div.activefacetsList {
	border-width: medium medium medium 2px!important;
	border-style: none none none none!important;
	border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #666!important;
	-moz-border-top-colors: none!important;
	-moz-border-right-colors: none!important;
	-moz-border-bottom-colors: none!important;
	-moz-border-left-colors: none!important;
	border-image: none!important;
	font-size: 14px!important;
	padding-bottom: 50px!important;
	background: #FFF none repeat scroll 0% 0%!important;
}

/*Format remove facet link*/

.activefacetsList a{
	font-size: 8px;
	color: #a9a9a9;
}

.activefacetsList a:hover{
	font-size: 9px;
	color: #e74c3c;
}

/*Add filter icon before active list*/

.activefacetsList h4:before{
	content: "\f0b0   ";
	font-family: FontAwesome;
	font-size: 1.2em;
	top:0;
}

/*Add tag icon before facet name*/

.activefacetsList li:before{
	content: "\f02b ";
	font-family: FontAwesome;
	font-size: smaller;
	top:0;
}

/*Add cross icon after remove tag*/

.activefacetsList a:after{
	content: " \f00d";
	font-family: FontAwesome;
}

/*Carousel Image fix */

img.carouselImageFull {
	max-width:100%;
}
/*LEADERSHIP*/

.team-social li a.ln {
  color: #0083a8;
  border: 1px solid #0083a8;
}

.team-social li a:hover {
  text-decoration: none;
}

.team-social li a.ln:hover {
  color: #fff;
  background: #0083a8;
}

.team-social vcard a.ln {
	color: #e74c3c;
	border: 1px solid #e74c3c;
}

.team-social vcard a:hover {
	text-decoration: none;
}

.team-social vcard a.ln:hover {
	color: #fff;
	background: #c0392b;
}


#leadership{
	margin: 50px auto;
}

#leadership .title{
	color: #555;
	position: relative;
	margin-bottom: 30px;
	margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 33px;
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

#leadership .title:before{
    box-sizing: border-box;
}

#leadership .title:after{
	left: 0;
	width: 70px;
	height: 2px;
	content: " ";
	bottom: -10px;
	background: #555;
	position: absolute;
}

#leadership .subtitle{
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 30px;
}

#leadership p{
	margin: 20px 0;
}

#leadership .portrait{
	width: 210px;
	height: 210px;
	background: #e6e6e6;
	border-radius: 105px;
	margin-top: 30px;
}

#leadership .portrait img{
	border-radius: 105px;
	width: 210px;
	height: 210px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: 2px solid #eee;
}

/*404*/

#search-error{
	width: 100%;
	padding: 0;
	margin-bottom: 50px;
}

#search-error .search-block{
	padding: 25px 40px 19px 40px;
	margin: 0 auto;
	background: #c1cbd1;
	overflow: hidden;
	width: 100%;
	max-width: 800px;
}

#space{
	margin-top: 80px;
	text-align: center;
}

#error-bg{
	position: relative;
	margin: 100px auto 0 auto;
	display: block;
	width: 850px;
	height: 250px;
	background: transparent;
	overflow: hidden;
}

#error-text-mobile{
	display: none;
	margin: 0 auto;
}

#error-text-mobile div{
	display: none;
	color: black;
	font-size: 30px;
	text-align: center;
	display: inline-block!important;
}

#error-bg .background{
	opacity: 0.2;
	position: absolute;
	background: url('../img/404/background.png') no-repeat left top;
	height: 850px;
	width: 850px;
	-webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 300s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 300s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spinnerRotate;
    -ms-animation-duration: 300s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

#error-bg .middleground{

	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 150s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spinnerRotate;
	-moz-animation-duration: 150s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spinnerRotate;
	-ms-animation-duration: 150s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	position: absolute;
	background: url('../img/404/middle.png') no-repeat left top;
	height: 850px;
	width: 850px;
}

.description{
	color: white;
	font-size: 30px;
	font-weight: 300;
	text-align: left;
	line-height: 10px;
	margin-bottom: -15px;

}

#error-bg .title{
	font-size: 40px;
	z-index: 500;
	text-align: right;
	display: inline-block;
	font-weight: 300;
}

#error-bg .subtitle{
	font-size: 55px;
	color: white;
	z-index: 900;
	text-shadow: 1px 1px 5px rgba(0,0,0, 0.1);
	text-align: right;
	display: inline-block;
	margin-left: 10px;
}

#error-bg .error-box{
	position: absolute;
	z-index: 5;
	right: 295px;
	top: 160px;
	
}

@-webkit-keyframes spinnerRotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}


/*ADVANCED SEARCH*/

#advancedSearch .btn-primary{
	background: #E74C3C!important;
	border: none;
	margin-top: 10px;
	margin-left: 22px;
	margin-bottom: 50px;
}


#advancedSearch fieldset{
	display: inline-block!important;
	width: calc(100% - 22px);
	vertical-align: text-top;
	margin: auto 10px;
}

#advancedSearch .control-group{
	background: #fff;
	display: block;
	padding: 25px 30px 5px;
	border: none;
	min-width: 0;
	margin: 0;
	border-radius: 0;
	box-sizing: border-box;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666;
}

#advancedSearch legend{
	color: inherit;
	display: block;
	font-size: 20px;
	background: #fff;
	font-weight: 400;
	padding: 8px 30px;
}

#advancedSearch select{
	background: url('../img/arrow.png') no-repeat;
	background-position: right 10px top 10px;
	border-color: #bbb;
	height: 33px;
	padding: 6px 30px 6px 10px;
	border-width: 1px;
	font-size: 14px;
	color: #404040;
	display: block;
	box-sizing: border-box;
    outline: none;
    border-style: solid;
    border-radius: 0;
    font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	text-transform: none;
    margin: 0;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
	overflow-x: visible;
	overflow-y: visible;
	white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    text-rendering: auto;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
	box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb;
	letter-spacing: normal;
    word-spacing: normal;
    line-height: 19px;
    width: 100%;
}

#advancedSearch .dateRange{
	border-top: 1px dashed #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px 0 15px 0;
	margin: 15px 0 15px 0;
}

#advancedSearch input[type="text"]{
	border-color: #bbb;
	border-width: 1px;
	font-size: 14px;
	color: #404040;
	height: 34px;
	padding: 6px 12px;
	-webkit-transition: border-color 0.3s;
	display: block;
	box-sizing: border-box;    
	width: 100%;
	outline: none;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
	margin: 0;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;
}

#advancedSearch input[type="checkbox"]{
	vertical-align: middle;
	position: relative;
	border-color: #999;
	width: 17px;
	height: 17px;
	border-width: 1px;
	-webkit-transition: border-color 0.3s;
	border-style: solid;
	background: #fff;
	outline: none;
	border-radius: 0;    box-sizing: border-box;
	font-weight: 400;
	font-size: 15px;
	line-height: 27px;
	color: #404040;
	cursor: pointer;
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	display: inline-block;
}

#advancedSearch label{
	border-radius: 0;
    font-size: 100%;
    text-align: left;
    white-space: normal;
    color: inherit;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
	padding: 0.2em 0 0.3em;
	max-width: 90%;
	box-sizing: border-box;
	cursor: default;
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	box-sizing: border-box;display: inline-block;
	margin-right: 10px;
}

input#scr_terms{
	background: red!important;
}

#search-options{
	display: table;
	background: rgba(0, 0, 0, .5);
	padding: 10px 30px;
	margin: 50px auto 0 auto;
	border-radius: 50px;
	color: white;
	text-decoration: none;
}

#search-options:hover{
	background: rgba(0, 0, 0, 1);
}

#advanced-search select{
    line-height: 17px!important;
}

#form-footer{
    padding: 30px;
}

#custom-search-block{
    margin-bottom: 50px;
}


#advanced-search{
    margin: 20px auto;
    border: none!important;
}


#advancedSearch .sky-form{
    border: none;
}

#advancedSearch .sky-form footer{
    border: none;
}

#search-options{
    display: table;
    background: rgba(0, 0, 0, .5);
    padding: 10px 30px;
    margin: 50px auto 0 auto;
    border-radius: 50px;
    color: white;
    text-decoration: none;
}

#search-options:hover{
    background: rgba(0, 0, 0, 1);
}

.search-block{
    padding: 80px 0 40px 0;
    margin: 0;
}

.arrow{
    position: relative;
    display: inline-block;
    margin-left: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: white transparent transparent transparent;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.arrow-rotate{
    transform: rotate(180deg);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#advancedSearch .sky-form .select select {
    padding: 3px 10px;
}

.container .navbar-brand {
    padding: 30px 0 0 0;
}

/*STOCK WIDGET*/

/*standard*/

.stock-widget{
    width: 100%;
    height: auto;
    position: relative;
    background: white;
}

.stock-widget .arrow{
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #6fc117 transparent;
    display: inline-block;
}

.stock-widget .title{
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
    color: #E74C3C;
    margin-top: -10px;
}

.stock-widget .description p{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.stock-widget .stock-price{
    font-size: 40px;
    text-align: left;
    margin: 0 auto;
    font-weight: 400;
}

.stock-widget .stock-variable{
    text-align: left;
    font-size: 26px;
    margin: -20px auto 0 auto;
    font-weight: 300;
}

.stock-widget .btn{
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: left;	
	text-decoration: underline;
}

/*small*/

/*
.small-stock-widget{
    width: 100%;
    height: auto;
    position: relative;
    background: white;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: url('../img/stock_arrow.png') no-repeat;
    background-position:  right 30px bottom 0px ;
}

.small-stock-widget .arrow{
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 8px 5.5px;
    border-color: transparent transparent #6fc117 transparent;
    display: inline-block;
}

.small-stock-widget .arrow-down{
    margin-bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5.5px 0 5.5px;
    border-color: #e74c3c transparent transparent transparent;
    display: inline-block;
}

.small-stock-widget .stock-widget-wrapper{
    padding: 20px;
}

.small-stock-widget .title{
    color: red;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #E74C3C;
}

.small-stock-widget .description{
    text-align: center;
    font-size: 12px;
    margin: 5px auto;
    line-height: 13px;
}

.small-stock-widget .stock-price{
    font-size: 20px;
    text-align: center;
    width: 70%;
    margin: 5px auto;
    max-width: 360px;
}

.small-stock-widget .stock-variable{
    text-align: center;
    font-size: 16px;
    width: 70%;
    margin: 0 auto 10px auto;
    max-width: 360px;
}

#small-stock-widget .btn{
	display: block;
	margin: 0 auto;
	text-decoration: underline;
}
*/

/*NEWS*/

.news-v2 .news-v2-badge{
    min-height: 170px;
}


/*PARALAX*/

.parallaxPanel{
	background-position: center;
}



/*MEDIA QUERIES*/

@media (max-width: 1200px) {

/*	small stock widget*/
	
	#small-stock-widget .stock-widget-wrapper{
		padding: 5px;
	}
}

@media (max-width: 992px) {
	/*LEADERSHIP*/
	
	#leadership{
		margin: 10px auto 100px auto;
	}

	.portrait{
		margin: 0 auto 50px auto;
	}

	#leadership .title{
		text-align: center;
	}
	
	#leadership .subtitle{
		text-align: center;
	}
	
	#leadership p{
		text-align: center;
	}
	
	#leadership .team-social{
		margin: 0 auto;
		display: table;
	}

	#leadership .title:after{
		margin: 0 auto;
		left: 0;
		width: 70px;
		height: 2px;
		content: " ";
		bottom: -10px;
		left: 0;
		right: 0;
		background: #555;
		position: absolute;
	}
	
	/*404*/
	
	#error-text-mobile{
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 10px;
	}
	
	#search-error .search-block{
		padding: 0;
		margin: 0 auto!important;
		border: 1px solid #dedede;
		overflow: hidden;
		height: 50px;
	}
	
	#error-bg{
		display: none;
	}
	
	#error-bg .error-box{
		display: block;
		color: #E74C3C;
	}
	
	#space{
		margin-top: 20px;
		text-align: center;
	}
	
/*	STOCK WIDGET*/

	.stock-widget{
		margin: 20px auto;
	}
	
	.stock-widget .stock-price{
		width: 60%;
		max-width: 350px;
	}
	
	.stock-widget .stock-variable{
		width: 60%;
		max-width: 350px;
	}
	
	.stock-widget .btn {
		width: 60%;
	}
	
}


@media (max-width: 768px) {

/*AUX*/

	.topbar-menu div {
        display: block;
        padding: 7px 0;
	}

    .topbar-list a {
        padding: 2px 12px;
    }
    
    #leadership{
        margin: 0 auto!important;
    }

/*	STOCK WIDGET*/
    
	.stock-widget{
		width: 90%;
	}
	
	.stock-widget .title{
		text-align: right;
		width: 60%;
		max-width: 350px;
		margin: 0px auto;
	}
	
	.stock-widget .description{
		text-align: right;
		font-size: 12px;
		width: 60%;
		margin: 15px auto 0 auto;
		max-width: 350px;
	}
	
	
/*	ADVANCED SEARCH*/

	#advancedSearch fieldset{
		display: inline-block!important;
		width: calc( 100% - 20px);
		vertical-align: text-top;
		margin: auto 10px;
	}
}

/**** Start Wiki and Forum Customization****/

/******************************************************************************
*  box8 icon mixin
******************************************************************************/
.box8-icon{
	height:48px!important;
	width:48px!important;
	display:block!important;
	line-height:48px!important;
	position:absolute!important;
	background-repeat:no-repeat!important;
	background-position: top left!important;
	right:8px!important;
	top:-8px!important;
}
.box8-title-icon{
	line-height:32px!important;
	position:relative!important;
}
/******************************************************************************
*  box8
******************************************************************************/
div.box8 {
	position:relative!important;
	clear:both!important;
	margin-bottom:1em!important;
}

div.box8-content {
	height:1%!important;
	background:none !important;
	-webkit-border-radius:0!important;
	-moz-border-radius:0!important;
	border-radius:0!important;
	border: 1px solid #e5e5e5!important;
	border-top:none!important;
	padding: 5px 10px!important;
	overflow:hidden!important;
	-webkit-box-shadow:none!important;
	-moz-box-shadow:none!important;
	box-shadow:none!important;
	margin-bottom:10px!important;
}
div.box8-content p {
	padding:0px 0px 1em 0px!important;
}

/*box8 title*/
h4.box8-title {
	background:none !important;
	border:1px solid #e5e5e5!important;
	color:#333!important;
	margin-left:0!important;
	padding:5px!important;
	font-weight:normal!important;
	clear:both!important;
	margin:0!important;
	-webkit-border-radius:0!important;
	-moz-border-radius:0!important;
	border-radius:0!important;
	padding: 5px 10px!important;
	-webkit-box-shadow:none!important;
	-moz-box-shadow:none!important;
	box-shadow:none!important;
}
h4.box8-titleblack {
	background:none !important;
	background-color:#333!important;
	border:1px solid #000!important;
	color:#fff!important;
}
h4.box8-titlegrey {
	background:none !important;
	background-color:#f5f5f5!important;
	border:1px solid #e5e5e5!important;
}
h4.box8-titlemushroom {
	background:none !important;
	background-color:#f5f5f5!important;
	border:1px solid #e5e5e5!important;
}
h4.box8-titleorange {
	background:none !important;
	background-color:#f5f5f5!important;
	border:1px solid #e5e5e5!important;
}
h4.box8-titlered {
	background:none !important;
	background-color:#f5f5f5!important;
	border:1px solid #e5e5e5!important;
}
h4.box8-titlegreen {
	background:none !important;
	background-color:#f5f5f5!important;
	border:1px solid #e5e5e5!important;
}
h4.box8-titlepurple {
	background:none !important;
	background-color:#f5f5f5!important;
	border:1px solid #e5e5e5!important;
}
h4.box8-titleyellow {
	background:none !important;
	background-color:#f5f5f5!important;
	border:1px solid #e5e5e5!important;
}
h4.box8-titleblue {
	background:none !important;
	background-color:#f5f5f5!important;
	border:1px solid #e5e5e5!important;
}
/******************************************************************************
*  Tabs
******************************************************************************/


div.idTabsContainer{
	margin-top: 0px!important;
	border: none!important;
	background: none!important;
	border-bottom: solid 2px #E74C3C!important;
}

ul.idTabs {
	clear:both!important;
	list-style-type:none!important;
	overflow:hidden!important;
	background:#FFF none repeat scroll 0% 0%!important;!important;
	margin:0 0 0 0!important;
	padding:10px!important;
	font-size: 14px!important;
	padding: 5px 15px!important;
}
.idTabs li {
	margin:0px!important;
	padding:0px!important;
	padding-bottom: 5px;
	position: relative!important;
}
.idTabs li.spacing{
	padding-left:5px!important;
}

.idTabs li a {
	background:#FFF!important;
	display:inline!important;
	float:left!important;
	height:36px!important;
	line-height:15px!important;
	padding-left:0px!important;
	text-decoration:none!important;
	margin-right:0px
}
.idTabs li a.selected,
.idTabs li a:hover,
.idTabs li a.selected {
	color: #fff!important;
	border: none!important;
	background: #72c02cimportant!important;!important;
}


.idTabs li a span {
	background:#FFF!important;
	cursor:pointer!important;
	display:inline!important;
	float:left!important;
	height:36px!important;
	line-height:29px!important;
	padding-right:15px!important;
	text-decoration:none!important;
	font-size: 14px!important;
	padding: 5px 15px!important;

}
.idTabs li a.selected span,
.idTabs li a:hover span,
.idTabs li a.idTabs span {
	color: #fff!important;
	border: none!important;
	background:#E74C3C!important;
	text-decoration:none!important;
}

div.box6-blue {
	background: #FAFAFA none repeat scroll 0% 0%!important;
	border: 1px solid #EEE!important;
}

.post-date {
	width: 50px!important;
	height: 54px!important;
	text-align: center!important;
	color: #555!important;
	line-height: 140%!important;
	float: left!important;
	background: #fcfcfc!important;
	border: 1px solid #d2d2d2!important;
	border-radius: 4px!important;
	-moz-border-radius: 4px!important;
	-webkit-border-radius: 4px!important;
	padding: 4px!important;
	font-size: 14px!important;
	font-weight: bold!important;
	text-transform: uppercase!important;
	display: block!important;
	border-radius: 3px!important;
	padding: 6px 0 6px 0!important;
}

.post-date span {
	height: 24px !important;
	background: #E74C3C none repeat scroll 0% 0% !important;
	font-size: 12px !important;
	font-weight: bold !important;
	color: #FFF !important;
	text-transform: uppercase !important;
	display: block !important;
	border-radius: 3px !important;
	padding: 6px 0px !important;
	margin: 0px 0px 0px 4px!important;
	width: 40px!important;
}

/**** End Wiki and Forum Customization****/

/**** Event and Press Release Condensed List ****/

.condensed-list h1, .condensed-list h2, .condensed-list h3, .condensed-list h4, .condensed-list h5, .condensed-list h6 {
	margin-bottom: 0px;
}



/* Fix img height on 'our companies' page */

.cbp img {
    display: block;
    width: auto;
    height: 100%;
    min-width: inherit;
    max-width: inherit;
}

/* Fix header logo bug */

.header-fixed-shrink #logo {
    padding-top: 15px !important;
}


/* Custom styles for Video Player */

.vjs-default-skin .vjs-big-play-button {
    width: 48px;
    height: 48px;
    position: absolute;
    outline: 0;
    border: 2px solid #ccc;
    background-color: rgba(0,0,0,0.25);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateZ(0) translate(-50%, -50%);
    -ms-transform: translateZ(0) translate(-50%, -50%);
    transform: translateZ(0) translate(-50%, -50%);
    -webkit-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

.vjs-control-bar, #ima-controls-div {
    cursor: default;
    width: 100%;
    z-index: 4;
    left: 0;
    background-color: rgba(25,25,25,0.8);
    color: #ffffff;
    font-size: 15px;
    height: 48px;
    -webkit-transition: bottom .8s;
    transition: bottom .8s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: #e74c3c;
}

.vjs-playback-rate {
  display: none;
}