/* To be changed according to the parent container*/
.slider-tab-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Global tabs styles */
.slider-tab-content {
    position: relative;
    color: #969696;
    font-size: 30px;
    line-height: 26px;
    background: #eee;
    width: 100%;
    margin: 0 auto;
    font-family: Lato, sans-serif;
    background-size: cover!important;
    background-position: center center;
    height: 550px;
    overflow: hidden;
}

/* Tab/Slider controls */
.slider-tab-navigation {
  margin-bottom:40px;
}

#select-box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  background: #F3F3F3;
  padding: 5px;
  color: #565656;
  border: 2px solid #777;
  outline: none;
  cursor: pointer;
  float: right;
  margin-top: -33px;
  height: 31px;
}

/* Optional new/delete tab button */
/*.new-tab,
.del-tab {  
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  background: #F3F3F3;
  padding: 6px 10px;
  border: 2px solid #777777;
  margin-top: -33px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.new-tab {
  color: #257EDC;

  margin-right: 125px;
}

.new-tab:hover {
  color: #F3F3F3;
  background: #257EDC;
  border: 2px solid #257EDC;
}

.del-tab {  
  color: #DC2556;
}

.del-tab:hover {  
  color: #F3F3F3;
  background: #DC2556;
  border: 2px solid #DC2556;
}*/

.edit-slider-cont {
  position: relative;
  top: 150px;
  left: 125px;
  display: inline-block;
}

.first-layer-editslider {
    background: rgba(0,0,0,0.5) !important;
    padding: 0px 20px !important;
    margin-bottom: -10px;
    color: #fff !important;
  line-height: 67px;
    font-size: 30px !important;
  text-transform: uppercase;
    font-weight: 500 !important;
    display: table;
}


.color-dark { color: #555555!important;}

.second-layer-editslider {
  font-size: 60px;
  line-height: 90px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Lato", Arial, sans-serif;
}

.color-red {
  color: #e74c3c;
}

.text-layer-editslider {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato", Arial, sans-serif;
   margin-bottom: 20px
}

.but-layer-editslider,
.but-layer-editslider-dark {
  padding: 6px 13px;
  font-size: 14px;
  line-height: 22px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  background: #e74c3c;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}

.but-layer-editslider-dark {
  background: #555;
}

.edit-slider-cont-right {
    position: relative;
    top: 150px;
    right: 30px;
    text-align: right;
}

.edit-slider-img {
    position: absolute;
    max-width: 300px;
    height: auto;
    top: 50px;
    right: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.ms-img-bordered {
    background: transparent;
    padding: 7px;
}

.small-plus-img {
    max-width: 300px;
}

.edit-slider-img:hover {
    border: 3px solid #2e8ae5;
    cursor: pointer;
    background: rgba(0,0,0,0.1);
}

.slider-tab-content.empty {
  text-align: center;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.slider-tab-content.empty img {
  height: 550px;
}

.slider-tab-content.empty:hover {
  -webkit-box-shadow: 0 0 50px 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 50px 2px rgba(0,0,0,0.3);
  cursor: pointer;
}

.second-layer-editslider span {
    padding: 0 20px!important;
    color: #fff!important;
    background: rgba(231,76,60,0.8);
}
.edit-slider-cont .text-layer-editslider {
    background: rgba(0,0,0,0.5)!important;
    padding: 10px 20px!important;
    color: #fff!important;
    font-size: 22px!important;
    margin-top: -9px!important;
    font-weight: 500!important;
    display: table;
}

.first-layer-editslider.color-dark {
    background: rgba(255,255,255,0.5) !important;
    padding: 0px 20px !important;
    margin-bottom: -10px;
    color: #000000 !important;
    line-height: 67px;
    font-size: 30px !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    display: table;
}

.edit-slider-cont .text-layer-editslider.color-dark {
    background: rgba(255,255,255,0.5)!important;
    padding: 10px 20px!important;
    color: #000000!important;
    font-size: 22px!important;
    margin-top: -9px!important;
    font-weight: 500!important;
    display: table;
}