/*LEADERSHIP*/


.team-social li a.ln {
	color: #0083a8;
	border: 1px solid #0083a8;
}

.team-social li a:hover {
	text-decoration: none;
}

.team-social li a.ln:hover {
	color: #fff;
	background: #0083a8;
}

.team-social vcard a.ln {
	color: #e74c3c;
	border: 1px solid #e74c3c;
}

.team-social vcard a:hover {
	text-decoration: none;
}

.team-social vcard a.ln:hover {
	color: #fff;
	background: #c0392b;
}


#leadership{
	margin: 50px auto;
}

#leadership .title{
	color: #555;
	position: relative;
	margin-bottom: 30px;
	margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 33px;
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}


#leadership .title:before{
    box-sizing: border-box;
}

#leadership .title:after{
	left: 0;
	width: 70px;
	height: 2px;
	content: " ";
	bottom: -10px;
	background: #555;
	position: absolute;
}

#leadership .subtitle{
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 30px;
}

#leadership p{
	margin: 20px 0;
}

.portrait{
	width: 210px;
	height: 210px;
	background: #e6e6e6;
	border-radius: 105px;
	margin-top: 30px;
}

.portrait img{
	border-radius: 105px;
	width: 210px;
	height: 210px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: 2px solid #eee;
}



@media (max-width: 992px) {



	#leadership{
		margin: 80px auto 100px auto;
	}

	.portrait{
		margin: 0 auto 50px auto;
	}

	#leadership .title{
		text-align: center;
	}
	
	#leadership .subtitle{
		text-align: center;
	}
	
	#leadership p{
		text-align: center;
	}
	
	
	#leadership .team-social{
		margin: 0 auto;
		display: table;
	}

	#leadership .title:after{
		margin: 0 auto;
		left: 0;
		width: 70px;
		height: 2px;
		content: " ";
		bottom: -10px;
		left: 0;
		right: 0;
		background: #555;
		position: absolute;
	}
	
}